/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: cursive;
}

main {
    padding: 75px 20px 20px 20px;
}

a {
    text-decoration: none;
}


.container {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.7;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.header {
    text-align: center;
    padding: 32px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(152, 190, 121);
    color: #ffffff;
    position: fixed;
    width: 100%;
}

.nav-links a {
    color: #fff;
}

.nav-links li {
    list-style: none;
}

/* LOGO */
.logo {
    font-size: 27px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: rgb(116, 148, 65);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
    position: relative;
}

.dropdown {
    background-color: rgb(116, 148, 65);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 30px;
}

.dropdown li+li {
    margin-top: 5px;
}

.dropdown li {
    padding: 0.2em 0.5em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #5f9e4c;
}

.services:hover .dropdown {
    display: block;
}

/* CHECKBOX HACK */

input[type="checkbox"] {
    display: none;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/*----------------------------*/

.timetable {
    display: grid;
    grid-template-areas: ". week" "time content";
    grid-template-columns: 120px;
    grid-template-rows: 60px;
    width: 100vw;
    height: 100vh;
}

.timetable .accent-pink-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ee8ebc, #eea08e);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
}

.timetable .accent-pink-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(238, 142, 188, 0.3);
    transform: scale(1.05);
}

.timetable .accent-orange-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #eec08e, #dcee8e);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
}

.timetable .accent-orange-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(238, 192, 142, 0.3);
    transform: scale(1.05);
}

.timetable .accent-green-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #bcee8e, #8eeea0);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
}

.timetable .accent-green-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(188, 238, 142, 0.3);
    transform: scale(1.05);
}

.timetable .accent-cyan-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #8eeec0, #8edcee);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
}

.timetable .accent-cyan-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(142, 238, 192, 0.3);
    transform: scale(1.05);
}

.timetable .accent-blue-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #8ebcee, #a08eee);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
}

.timetable .accent-blue-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(142, 188, 238, 0.3);
    transform: scale(1.05);
}

.timetable .accent-purple-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #c08eee, #ee8edc);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
}

.timetable .accent-purple-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(192, 142, 238, 0.3);
    transform: scale(1.05);
}

.timetable .weekend {
    background: #fbfbfc;
    color: #87a1ad;
}

.timetable .week-names {
    grid-area: week;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-transform: uppercase;
    font-size: 12px;
}

.timetable .week-names>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: inset 1px 0 0 #eceff1;
}

.timetable .time-interval {
    grid-area: time;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    font-size: 14px;
}

.timetable .time-interval>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 1px 0 0 #eceff1;
}

.timetable .content {
    grid-area: content;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

.timetable .content>div {
    box-shadow: inset 1px 0 0 #eceff1, inset 0 1px 0 0 #eceff1;
}



/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: rgb(116, 148, 65);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type="checkbox"]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 25%;
        top: 10px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: #669e4c;
    }
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}